[project]
	description = Utilities library for Java
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/minyue (minyue)
[access "refs/for/refs/*"]
	read = group user/minyue (minyue)
	push = group user/minyue (minyue)
	label-Code-Review = -2..+2 group user/minyue (minyue)
	label-Verified = -1..+1 group user/minyue (minyue)
	rebase = group user/minyue (minyue)
	removeReviewer = group user/minyue (minyue)
	submit = group user/minyue (minyue)
[access "refs/heads/*"]
	read = group user/minyue (minyue)
	create = group user/minyue (minyue)
	push = +force group user/minyue (minyue)
	pushMerge = group user/minyue (minyue)
[access "refs/tags/*"]
	push = +force group user/minyue (minyue)
	pushTag = group user/minyue (minyue)
	pushSignedTag = group user/minyue (minyue)
